<main class="flex-1 flex flex-col bg-white overflow-hidden channel">
  <Channel::Header
    @title={{this.model.name}}
    @description={{this.model.description}}
  />

  <ChannelContainer @channel={{this.model}} as |messages actions|>
    <div class="py-4 flex-1 overflow-y-scroll channel-messages-list">
      {{#each messages as |message|}}
        <Channel::Message @message={{message}} />
      {{/each}}
    </div>

    <Channel::Footer @create={{actions.createMessage}}/>
  </ChannelContainer>
</main>